/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Start main styling --*/

body {
    background: #f7f7f7;
    color: #333333;
    font-family: baskerville-urw, serif;
}

section, header, footer {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

section, header {
}

p, blockquote {
    padding: 2rem 0.5 0;
    line-height: 1.3;
}

h1 {
    font-size: 5.653rem;
    margin-top: 5rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.999rem;
    margin: 2rem 0 1rem 0;
    margin-bottom: 0,5rem;
}

p {
    margin: 1rem 0;
}

blockquote {
font-style: italic;
font-size: 1.999rem;
color: grey;
hanging-punctuation: first;
text-indent: -0.7rem;
}

blockquote cite {
    font-style: normal;
    font-size: 1.5rem;
    color: grey;
}
.leader {
    text-transform: uppercase;
}
/*-- Styling Links --*/
a {
    color:lightslategray;
    text-decoration: none;
}

a:hover {
    color: lightslategray;
    border-bottom: 1xp dotted;
}


/*-- Navigation --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: slategray;
    padding: 1.5rem 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


nav ul li{
    display: inline;
    margin: 20px;
    background: none;

}

nav a {
color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color:lightslategray;
    transition: all 0.3s ease-in-out;;
}

/*-- Styling Table--*/
table {
margin: auto;
display: table;
border-collapse: collapse;
border-spacing: 2px;
margin-bottom: 2rem;
width: 100%;
}

caption {
margin: 1.5em 0;
text-transform: uppercase;
letter-spacing: 1px;
}

th {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    color: white;
    background: slategray;
    border: 2px solid white}

th,td {padding: 0.6em;}

table, td {
    background:peachpuff;
    border: 2px solid white;}


    /*--Images--*/
    img{

        display:block;
        margin: 3rem 0;
        padding: 0px;
        max-width: 100%;
    }

hr {
    height: 1px;
    margin: 100px 0;
    background-color: lightslategrey;
    color: lightslategray;
    border: 0 none;

}

/*-- Styling the footer--*/ 
footer {
    background: lightslategray;
    text-align: center;
    font-size: 0.75rem;
    color: #f7f7f7;
    padding: 4em 0 3em 0
    }
    
    footer p {
    width:80%;
    margin: auto;
    }
    
    .connections{
    position: relative;
    margin: 0 auto;
    }
    .connections ul{
    margin: 0;
    padding: 0;
    }
    .connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
    }
    .connections a:link{
    border-bottom: none;
    }
    .connections img,
    .connections svg{
    border: none;
    }
    .connections a:hover img,
    .connections a:hover svg{
    border-bottom: none;}
    .connections svg {
    margin: 1em auto;}
    .connections a:hover svg path {
    fill: peachpuff;
    transition: all 0.2s ease-in-out;}
    footer .connections a:hover svg path {
    fill: peachpuff;
    transition: all 0.2s ease-in-out;}